*{
    margin: 0%;
    padding: 0%;
}
.emailsend{
    margin-top: 60px;
}
.emailsend-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
}
#name{
    margin-left: 5px;
    margin-bottom: 50px;
    margin-right: 5px;
}
.project{
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    margin-top: 5px;
}
 .emailsend-form label{
    flex: 1;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 600;
    margin-top: auto;
    margin-bottom: auto;
    color: #333;
}
 .emailsend-form input{
    flex: 2;
    font-size: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-top: auto;
    margin-bottom: auto;
}
    #submit{
    display: block;
    margin:20px auto 0;
    border-width: 1px;
    padding: 10px 15px;
    margin-bottom: 20px;
    font-size: 15px;
    border-radius: 5px;
    border-color: #989090;
    background-color:#14bcbc;
    cursor: pointer;
    }
    #submit:hover{
    background-color:#ccc;
    color: grey;
    }
    .emailsend-form input{
        border: 1px solid black;
    }
@media (max-width:768px){
    .emailsend{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 15px;
    }
    .emailsend-form{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    
}