*{
    margin: 0%;
    padding: 0%;
}
/* LoginPage styles removed per user request. */
.login-page{
    background-color:white;
    height: 900px;
}
.login-Container{
    background:white;
    animation: gradientMove 6s ease infinite;
}
.login-box{
    justify-content: center;
    padding: 25px 20px;
    margin: auto 300px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(149, 152, 151);
    background: linear-gradient(140deg,#149a9b, white);
    animation: fadeIn 2s;
}
.login-box h1{
    text-align: start;
    color: white;
    margin-bottom: 25px;
    letter-spacing: 1px;
    font-weight: 800;
}

.login-box h2{
    text-align: center;
    color: white;
    margin-bottom: 25px;
    letter-spacing: 1px;
}
.login-box form{
    display: flex;
    flex-direction: column;
}
.login-box label{
    color: white;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-box input{
    margin-bottom:15px;
    padding: 8px;
    border: 1px solid #149a9b;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}
.login-box input:focus{
    border-color:0 0 8px rgba(194, 242, 236, 0.6);
}
#login-btn{
    cursor: pointer;
    background: linear-gradient(180deg,#149a9b);
    border: none;
    color: white;
    border-radius: 4px;
    padding: 8px 10px;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes gradientMove{
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

@media (max-width: 600px) {
    .login-box{
        padding: 25px 20px;
        margin-left: 60px;
        margin-right: 60px;
    }

    .login-box h2{
        font-size: 22px;
    }
    .login-box h1{
    font-weight: 800;
}
}
