* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.project1{
  position: absolute;
  margin-top: 52px;
  background-color:#eee;
  flex-wrap: nowrap;
  width: 100%;
}
.project1-container{
  display: flex;
  align-items: end;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5px;
  margin-bottom: 5px;
  flex-wrap: wrap;
}
.project1-nav{
  display: flex;
  justify-content: center;
  margin-top: 4px;
  align-items:  center;
  margin-right: 5px;
  margin-left: auto;
  gap: 5px;
}
#listicon{
    background-color: #eee;
    border-color: transparent;
}
#listicon:hover{
    border: 2px solid #14bcbc;
}
.table-div{
    display: flex;
}

@media (max-width: 768px){
  .project1-container-btn{
    text-align: center;
    position: relative;
    flex: nowrap;
    display:flex ;
    justify-content: flex-end;
    flex-direction: row;
  }
  .project1{
    position: relative ; 
    width: 100%;
  }
}