*{
    margin: 0%;
    padding: 0%;
}
#name{
    margin-left: 5px;
    margin-bottom: 50px;
    margin-right: 5px;
}
.projectcreate{
    margin-top: 60px;
}
.projectcreate-form{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}
.projectcreate-form label{
    flex: 1;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 600;
    margin-top: auto;
    margin-bottom: auto;
    color: #333;
}
.projectcreate-form input{
    flex: 2;
    font-size: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-top: auto;
    margin-bottom: auto;
}
    #submit{
    display: block;
    margin:20px auto 0;
    border-width: 1px;
    padding: 10px 15px;
    margin-bottom: 20px;
    font-size: 15px;
    border-radius: 5px;
    border-color: #989090;
    background-color:#14bcbc;
    cursor: pointer;
    }
    #submit:hover{
    background-color:#ccc;
    color: grey;
    }
.table-div{
    display: flex;
    margin-top: 20px;
}
.table2{
    margin-top: 30px;
    border: 1px solid black;
    background-color: #f4f7f8;
    width: 100%;
}
.table2-heading{
  background-color: #149a9b;
  text-align: left;
  padding: 8px;
}
.table2-content{
  background-color: #e0e0e0;
  padding: 8px;
  text-align: left;
}
@media (max-width: 768px) {
    .projectcreate{
      margin-top: 2px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 15px;
    }
    .projectcreate-form{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .div1{
      display: grid;
      grid-template-columns: 1fr;
    }
  .table2{
    display: none;
  }
  .underline{
    display: none;
  }

}