*{
    margin: 0%;
    padding: 0%;
}
.task-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
 .task-form label{
    flex: 1;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 600;
    margin-top: auto;
    margin-bottom: auto;
    color: #333;
}
 .task-form input{
    flex: 2;
    font-size: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid black;
}
@media(max-width: 768px){
    .task-form{
        display: grid;
        grid-template-columns: 1fr;
    }
}