*{
    margin: 0%;
    padding: 0%;
}
.table6{
    border: 1px solid black;
    background-color: #f4f7f8;
    width: 100%;
}
.table6-heading{
  background-color: #149a9b;
  text-align: left;
}
.table6-content{
  background-color: #e0e0e0;
  text-align: left;
}
@media(max-width: 768px){
  .table6{
    width: 100%;
    height: auto;
    overflow-y: auto;
    overflow-x: auto;
  }
}