*{
    margin: 0%;
    padding: 0%;
}

.things-todo-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
 .things-todo-form label{
    flex: 1;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 600;
    margin-top: auto;
    margin-bottom: auto;
    color: #333;
}
 .things-todo-form input{
    flex: 2;
    font-size: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid black;
}
@media(max-width:768px){
     .things-todo{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 15px;
    }
    .things-todo-form{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
    }
}
