.header{
    background-color: #149a9b;
    display: flex;
    gap: 10px;
    height: 52px;
    justify-content: space-between;
    padding: 10px 20px;
    flex-wrap: wrap;
}
.menu-btn{
    color: white;
    margin-top: 4px;
}
.logout-btn{
    border: transparent;
    font-size: 15px;
    color: white;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logout-btn:hover{
    border: 2px solid #14bcbc;
}
.logo{
    display: flex;
    margin-right: auto;
    margin-left: 0%;
    height: 28px;
    width: auto;
    filter: brightness(0) invert(1);
}
.searchbar{
    margin-left: 10px;
    padding: 8px;
    border: none;
    border-radius: 20px;
    outline: none;
    width: 140px;
}
.search-btn{
    margin-right: auto;
    margin-left: 0px;
    cursor: pointer;
    background-color: #14bcbc;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 8px 10px;
}
.search-btn:hover{
    border: 1px solid #168787;
}

@media (max-width:768px){
    .header{
        flex-wrap: nowrap;
        flex-direction: row;
        overflow-x: auto;
        height: 52px;
        width: auto;
        gap: 6px;
        flex: 1;
    }
    .logo{
        flex: 1;
        height: 24px;
        margin-top: 4px;
        width: auto;
        max-width: 160px;
    }
    .logoname{
        flex: 1;
        text-align: center;
    }
    .menu-btn{
        margin-right: 5px;
        flex-shrink: 0;
    }
    .search-container{
        display: none;
        flex-shrink: 0;
    }
    .searchbar{
        width: 100px;
        flex: 1;
        justify-content: end;
    }
    .search-btn{
        padding: 6px 8px;
        font-size: 14px;
    }
}