*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.main-content{
    transition: filter 0.3s ease;
}
.blur{
    filter: blur(5px);
    pointer-events: none;
}
.header{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
}
